<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bibliothèque{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"  href=" https://bootswatch.com/4/united/bootstrap.min.css">
            <link rel="stylesheet"  href=" {{ asset('lib/bootstrap/bootstrap.min.css') }} ">
        {% endblock %}
    </head>
    <body>
    {% if is_granted('ROLE_ADMIN') %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bibliothèque</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Gestion des livres <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestion des abonnés</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gestion des emprunts</a>
                    </li>

                </ul>
                <button type="button" class="btn btn-outline-primary">S'inscrire</button>
                <button type="button" class="btn btn-outline-secondary">Se connecter</button>
            </div>
        </nav>
    {% endif %}
        {% block body %}
        
        
        {% endblock %}
        {% block javascripts %}
            <script
                    src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
