{% extends 'base.html.twig' %}

{% block title %}
<h1>Gestion des livres</h1>

    <a href="{{ path('app_admin_book_add') }}" class="btn btn-outline-primary mb-3">
        Ajouter un livre
    </a>

    <div class="card border-dark mb-3" style="max-width: 20rem;">
        {#<div class="card-header">Header</div>#}
        <div class="card-body">
            {{ form_start(search_form) }}
            <h4 class="card-title">Livre</h4>
            <div class="row">
                <div class="col-md-6">

                    {{ form_row(search_form.category) }}
                </div>



            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-info">
                    Rechercher
                </button>
            </div>
            {{ form_end(search_form) }}
        </div>
    </div>



{% endblock %}

{% block body %}

{% endblock %}
